extends layout

block content
    div.my-3.p-3.bg-white.rounded.shadow-sm
        h3.border-bottom.border-gray.pb-2.mb-0 Welcome to NEOMd:
        ul.list-group
            li.list-group-item
                h5 Browse movies, rate them, and add them to our watchlist.
            li.list-group-item
                h5 Get info about specific and a list of movies similar to it.
            li.list-group-item
                h5 Recommendatios will be genreated based on your browsing habits.