doctype <!DOCTYPE html>
html(lang="en")  
    head
        title #{title}
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        
    body.bg-dark
        main.container-fluid
            .row.justify-content-center
                .col-12.col-sm-6.col-md-3
                    div.my-3.p-3.bg-white.rounded.shadow-sm
                        h5.text-center.border-bottom.border-gray.pb-2.mb-0 Please Register/Login to continue
                        block content

        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")