extends layout

block content
    if movies.length==0 
        h4 sorry no results were found

    ul.list-group
        each movie in movies
            li.list-group-item
                img(src=movie.poster style = 'width: 5%; border-radius: 5%;')
                a(href=`/movies/id/${movie.id}`, style = 'padding-left: 5em;') #{movie.title}