extends layout

block content
  div.my-3.p-3.bg-white.rounded.shadow-sm
    table.table.table-borderless
      tbody
          tr
            td
              h3.border-bottom.border-gray.pb-2.mb-0= title
            td
              if title=="Popular Movies"
                select#sel1.form-control(onchange="location = this.value;")
                  option(selected='' disabled='') Filter by genres...
                  each genre in genres
                    option(value="/movies/genre/"+genre)= genre
    
    if movies.length==0 
      h4 sorry no results were found

    ul.list-group
        each movie in movies
            li.list-group-item
              img(src=movie.poster style = 'width: 5%')
              a(href="/movies/id/"+movie.imdbId)= movie.title
              

