extends layout

block content
    if movies.length==0 
        h4 sorry no results were found

    ul.list-group
        each movie in movies
            li.list-group-item
                img.rounded(src=movie.poster style = 'width: 5%;')
                form.pl-5(style='display:inline;')
                    button.btn.btn-primary.my-sm-0(formaction=`/movies/id/${movie.id}`) #{movie.title}