extends layout

block content
	if ratings.length == 0
		h5 Sorry, no results were found
	else 
		ul.list-group
			each rating in ratings
				li.list-group-item
					img.rounded(src=rating.movie.poster style='width:5%;')
					form.pl-5.pr-5(style = 'display:inline;')
						button.btn.btn-primary.my-sm-0(formaction=`/movies/id/${rating.movie.id}`)= rating.movie.title
					//a.pr-5(href="/movies/id/"+rating.movie.id, style = 'padding-left: 5em;')= rating.movie.title 
					button.btn.btn-info.my-sm-0(type='disabled') #{rating.rating} /5
