extends layout

block content
	if ratings.length == 0
		h5 Sorry, no results were found
	else 
		ul.list-group
			each rating in ratings
				li.list-group-item
					b(style = 'padding-right: 2em;')= rating.rating
					img(src=rating.movie.poster style = 'width: 5%; border-radius: 5%;')
					a(href="/movies/id/"+rating.movie.id, style = 'padding-left: 5em;')= rating.movie.title 