extends layout

block content
	if reviews.length == 0
		h5 Sorry, no results were found
		
	ul.list-group
		each review in reviews
			li.list-group-item
				div.my-3.p-3.bg-white.rounded.shadow-sm
					h6 Reviewed by #{review.email}
					h4 #{review.content}