extends layout

block content
    ul.list-group
        li.list-group-item
            h5 Browse movies, rate them, and add them to our watchlist.
        li.list-group-item
            h5 Get info about specific and a list of movies similar to it.
        li.list-group-item
            h5 Recommendatios will be generated based on your browsing habits.